@model G4_SC601_KN_Proyecto.EntityFramework.parent

@{
    ViewBag.Title = "DeleteParent";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>DeleteParent</h2>

<h3>Are you sure you want to delete this?</h3>

<div class="card-style">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-danger">
            @ViewBag.Message
        </div>
    }

    @using (Html.BeginForm("DeleteParent", "Material"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>family</h4>

            <div class="form-group">
                <label class="control-label col-md-2">Family</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.id_parent,
                   (SelectList)ViewBag.Families, "-- Selecciona una Familia --",
                   new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.id_parent, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Eliminar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>

