@model G4_SC601_KN_Proyecto.Models.UsuarioModelo
@{
    ViewBag.Title = "Account Recovery";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

@using (Html.BeginForm("Account Recovery", "Home", FormMethod.Post))
{


    <h4 class="text-center mb-4">Account Recovery</h4>

}



