@model G4_SC601_KN_Proyecto.Models.UsuarioModelo

@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; 
}

<h2>Bienvenido @Session["Nombre"]</h2>

<p>
    ¡Has iniciado sesión correctamente!
</p>


<h2>Panel de Administrador</h2>

<ul>
    <li><a href="@Url.Action("ListUsers","Admin")">Ver Usuarios</a></li>
    <li><a href="@Url.Action("EditUser","Admin")">Modificar Usuarios</a></li>
</ul>
