@model G4_SC601_KN_Proyecto.Models.UsuarioModelo

@{
    ViewBag.Title = "User Dashboard";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Bienvenido @Session["Nombre"]</h2>

<p>
¡Has iniciado sesión correctamente!
</p>
