@model G4_SC601_KN_Proyecto.Models.UsuarioModelo

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<h4 class="text-center mb-4">Restablecer Contraseña</h4>

@using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post))
{
    @Html.HiddenFor(m => m.IdUsuario)

    <div class="mb-3">
        <label>Nueva Contraseña</label>
        @Html.PasswordFor(m => m.Contrasena, new
        {
            @class = "form-control",
            required = "required"
        })
    </div>

    <div class="mb-3">
        <label>Confirmar Contraseña</label>
        @Html.PasswordFor(m => m.ConfirmPassword, new
        {
            @class = "form-control",
            required = "required"
        })
    </div>

    <div class="d-grid mt-4">
        <button type="submit" class="btn btn-success">
            Actualizar Contraseña
        </button>
    </div>
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-danger mt-3 text-center">
        @ViewBag.Message
    </div>
}